{% extends 'layout.html' %}

{% block body %}
<br>
<br>
	<div class="container">
		<div class="jumbotron text-center">
			<img style="border-radius: 50%" src="../static/hostel.png">
		<br>
		<br>
			<h1>Welcome To Hostel-Hub</h1>
			<p class="lead">A pioneer in Hostel Management</p>
		{% if session.logged_in == NULL %}
			<a href="/register" class="btn btn-primary btn-lg">Register</a>
			<a href="/login" class="btn btn-success btn-lg">Login</a>
		{% endif %}	
		</div>

		<div id="demo" class="carousel slide" data-ride="carousel">
  <ul class="carousel-indicators">
    <li data-target="#demo" data-slide-to="0" class="active"></li>
    <li data-target="#demo" data-slide-to="1"></li>
    <li data-target="#demo" data-slide-to="2"></li>
  </ul>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="../static/bakul.jpg" alt="Bakul" width="1100" height="500">
      <div class="carousel-caption">
        <h3>Bakul Niwas</h3>
      </div>   
    </div>
    <div class="carousel-item">
      <img src="../static/kadambh.jpg" alt="Kadambh Niwas" width="1100" height="500">
      <div class="carousel-caption">
        <h3>Kadambh Niwas</h3>
      </div>   
    </div>
    <div class="carousel-item">
      <img src="../static/obh.jpg" alt="New York" width="1100" height="500">
      <div class="carousel-caption">
        <h3>OBH</h3>
      </div>   
    </div>
  </div>
  <a class="carousel-control-prev" href="#demo" data-slide="prev">
    <span class="carousel-control-prev-icon"></span>
  </a>
  <a class="carousel-control-next" href="#demo" data-slide="next">
    <span class="carousel-control-next-icon"></span>
  </a>
</div>
<br>
		<footer class="footer">
    	<p>&copy; Vivek Chandela,IIIT Hyderabad</p>
    	</footer>
   </div>
{% endblock %}